<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
  <link rel="stylesheet" href="<%= cssFiles[9] %>%>" />

  <body>
    <header>
      <!--carrusel-->
      <div class="slide">
        <div class="slide-inner">
          <input class="slide-open" type="radio" id="slide-1" name="slide" aria-hidden="true" hidden=""
            checked="checked" />
          <div class="slide-item">
            <img src="/img/parrilla3.jpg" alt="Slide 1" />
          </div>
          <input class="slide-open" type="radio" id="slide-2" name="slide" aria-hidden="true" hidden="" />
          <div class="slide-item">
            <img src="/img/carrouselsisi.jpg" alt="Slide 2" />
          </div>
          <input class="slide-open" type="radio" id="slide-3" name="slide" aria-hidden="true" hidden="" />
          <div class="slide-item">
            <img src="/img/corte1.jpeg" alt="Slide 3" />
          </div>
          <label for="slide-3" class="slide-control prev control-1">‹</label>
          <label for="slide-2" class="slide-control next control-1">›</label>
          <label for="slide-1" class="slide-control prev control-2">‹</label>
          <label for="slide-3" class="slide-control next control-2">›</label>
          <label for="slide-2" class="slide-control prev control-3">‹</label>
          <label for="slide-1" class="slide-control next control-3">›</label>
          <ol class="slide-indicator">
            <li>
              <label for="slide-1" class="slide-circle">•</label>
            </li>
            <li>
              <label for="slide-2" class="slide-circle">•</label>
            </li>
            <li>
              <label for="slide-3" class="slide-circle">•</label>
            </li>
          </ol>
        </div>
      </div>
      <!-- ------------------------------------fin carrusel-------------------------------------- -->

      <%- include("../partials/navbar") %>
    </header>
    <main>
      <!-- ------------------Nuestras Especialidades--------------------------- -->
      <h2 class="tituloIndex">Especialidades</h2>
      <section>
        <% for (let i=0; i < 4; i++) { %>
          <article class="productos">
            <img src="/img/products/<%= products[i].image %>" alt="imagen-del-producto" />
            <div class="info-produ">
              <a href="/product/<%= products[i].id %>">
                <h5>
                  <%= products[i].name %>
                </h5>
              </a>
              <div class="precio-boton">
                <p id="precio">$<%= products[i].price %>
                </p>
                <% if (user) { %>
                  <form action="/product/carrito" method="POST">
                    <input type="hidden" name="productId" value="<%= products[i].id %>">
                    <input type="hidden" name="productName" value="<%= products[i].name %>">
                    <input type="hidden" name="productPrice" value="<%= products[i].price %>">
                    <input type="hidden" name="productImage" value="<%= products[i].image %>">
                    <button class="agregar-al-carrito" type="submit">Agregar al carrito</button>
                  </form>
                  <% } else { %>
                    <form action="/users/login" method="GET">
                      <button class="agregar-al-carrito" type="submit">Agregar al Carrito</button>
                    </form>
                    <% } %>
              </div>
            </div>
          </article>
          <% } %>
      </section>

      <!-- --------------------------Comidas----------------------- -->
      <h2 class="tituloIndex">Comidas</h2>
      <section>
        <% for (let i=4; i < 8; i++) { %>
          <article class="productos">
            <img src="/img/products/<%= products[i].image %>" alt="imagen-del-producto" />
            <div class="info-produ">
              <a href="/product/<%= products[i].id %>">
                <h5>
                  <%= products[i].name %>
                </h5>
              </a>
              <div class="precio-boton">
                <p id="precio">$<%= products[i].price %>
                </p>
                <form action="/users/login" method="GET">
                  <button class="agregar-al-carrito">Agregar al carrito</button>
                </form>
              </div>
            </div>
          </article>
          <% } %>
      </section>
      <!-- ------------------------pedi aca------------------------------ -->
      <div id="pedi-aca">
        <h2 id="pedi-h2">El Bodegon</h2>
        <a href="/product/menu" style="text-decoration: none">
          <button id="boton-pedi">Pedi aca</button>
        </a>
      </div>
      <!-- ------------------------contacto------------------------------ -->
      <div class="contacto-container">
        <div class="contact-left">
          <h3>Abierto Todos Los Dias</h3>
          <p>11:30 - 16:00 hs. | 19:00 - 1:00 hs.</p>
        </div>
        <div class="contact-right">
          <div class="direccion">
            <h4>Dirección:</h4>
            <i class="fa-solid fa-location-dot" style="color: #000000"></i>
            <p>Palermo, Buenos Aires. Argentina</p>
          </div>
          <div class="telefono">
            <h4>Teléfono:</h4>
            <i class="fa-solid fa-phone" style="color: #000000"></i>
            <p>(+54) 2667823502</p>
          </div>
          <div class="email">
            <h4>Email:</h4>
            <i class="fa-solid fa-envelope" style="color: #000000"></i>
            <p>elbodegon@gmail.com</p>
          </div>
        </div>
      </div>
    </main>
    <%- include("../partials/footer") %> <%- include('../partials/script') %>
  </body>

</html>