<!DOCTYPE html>
<html>
  <%- include("../partials/head")  %>
  <body>
    <main>
      <div class="contenedor-fuera">
        <a href="/"><button class="botonX">X</button></a>
        <div class="contenedor">
          <form  class='login-form' action="/users/login" method="POST" >
            <div class="header">
              <div class="signup-login-box">
                <div class="login">
                  <a href="/users/login"><h2>Login</h2></a>
                </div>
                <div class="signup">
                  <a href="/users/register"><h2>Sign Up</h2></a>
                </div>
              </div>
              <a href="/"><h3 class="bodegon">El Bodegon</h3></a>
            </div>
            <div class="form-contenido">
              <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" value="<%= locals.old && locals.old.username ? locals.old.username : '' %>"/>
                <% if (locals.errors) { %>   
                  <% errors.forEach(error => {  console.log(error)%>
                      <% if (error.path === 'username') { %>
                        <p class="error-messages"><%= error.msg %></p>
                    <% } %>
                  <% }); %>
          <% } %>
              </div>
              <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="<%= locals.old && locals.old.email ? locals.old.email : '' %>" />
                <% if (locals.errors) { %>   
                  <% errors.forEach(error => {  console.log(error)%>
                      <% if (error.path === 'email') { %>
                        <p class="error-messages"><%= error.msg %></p>
                    <% } %>
                  <% }); %>
          <% } %>
              </div>
              <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" value="<%= locals.old && locals.old.password ? locals.old.password : '' %>"/>
                <input type="checkbox" name="" id="see-password"/>
                <% if (locals.errors) { %>   
                  <% errors.forEach(error => {  console.log(error)%>
                      <% if (error.path === 'password') { %>
                        <p class="error-messages"><%= error.msg %></p>
                    <% } %>
                  <% }); %>
          <% } %>
              </div>
              <div class="input-group">
                <label for="password"> Repeat Password:</label>
                <input type="password" id="rpassword" name="password2" />
                <% if (locals.errors) { %>   
                  <% errors.forEach(error => {  console.log(error)%>
                      <% if (error.path === 'password2') { %>
                        <p class="error-messages"><%= error.msg %></p>
                    <% } %>
                  <% }); %>
          <% } %>
              </div>
              <div class="input-group" style="display: flex">
                <label for="keep-session">Keep session</label>
                <input type="checkbox" id="keep-session" name="keep-session" />
              </div> 
              <p class="olvidar-password">
                <a href="#">Olvidé mi contraseña</a>
              </p>
              <div class="buttons">
                <button type="submit">Log In</button>
                <button class="google-button">Google</button>
                <button class="facebook-button">Facebook</button>
              </div>
          </form>
        </div>
        </div>
      </div>
    </main>
  </body>
  <script src="../../public/js/script.js"> </script>
</html>