<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head")  %>
  <body>
    <header>
      <%- include("../partials/navbar")  %>
    </header>
    <article>
      <section class="card">
        <div class="text-content">
          <h3><%= product.name %></h3>
          <p>
           <%= product.description %>
          </p>
          <p>
            <%= product.price %>
          </p>
          <button href="">Agregar al Carrito</button>
        </div>
        <div class="visual">
          <img src="/img/products/<%= product.image %>" alt="" />
        </div>
      </section>
    </article>
  </body>
  <%- include("../partials/footer")  %>
  <%- include('../partials/script') %>
</html>
