<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head")  %>
  <body class="body">
    <header><%- include("../partials/navbar") %></header>
    <main>
      <h1 class="title">Editar Producto</h1>
      <form action="/admin/editProduct?_method=PUT" class="formulario-editar" method="POST" enctype="multipart/form-data">
        <div class="section-container">
        <div class="form-group">
          <label for="productName">Nombre del Producto:</label>
          <input type="text" id="productName" value="<%= product.name %>" name="productName" required />
        </div>
        <div class="form-group">
          <label for="comida">Categoria:</label>
          <select id="comida" name="comida" required>
            <option value="">Seleccione una opción</option>
            <option value="Bebidas" <% if (product.category === 'Bebidas') { %>selected<% } %>>Bebidas</option>
            <option value="Carnes" <% if (product.category === 'Carnes') { %>selected<% } %>>Carnes</option>
            <option value="Ensaladas" <% if (product.category === 'Ensaladas') { %>selected<% } %>>Ensaladas</option>
            <option value="Milanesas" <% if (product.category === 'Milanesas') { %>selected<% } %>>Milanesas</option>
            <option value="Pescados" <% if (product.category === 'Pescados') { %>selected<% } %>>Pescados</option>
            <option value="Postre" <% if (product.category === 'Postre') { %>selected<% } %>>Postre</option>
          </select>
        </div>
        
      </div>
      <div class="section-container">
        <div class="form-group">
          <label for="productPrice">Precio:</label>
          <input type="text" id="productPrice" value="<%= product.price %>" name="productPrice" required />
        </div>
        <div class="form-group">
          <label for="imagen">Cambiar imagen:</label>
          <input type="file" id="imagen" name="imagen" value="<%= product.imagen %>" required />
        </div>
      </div>
      <div class="section-container des">
        <div class="form-group">
          <label for="productDescription">Descripcion:</label>
          <textarea
            class="Descripcion"
            id="productDescription"
            name="description"
            required
          ><%= product.description %></textarea> <!-- Asignamos el valor de la descripción directamente dentro del textarea -->
        </div>
        <div class="form-group">
          <label for="productDescuento">Aplicar descuento?</label>
          <div class="descuento">
            <div class="si">
              <label for="si">Sí</label>
              <input type="radio" id="si" name="descuento" value="si" <% if (product.descuento === 'si') { %>checked<% } %> />
              <div class="cual-descuento">
                <input type="text" id="cual-si" name="cual-descuento" placeholder="Escriba su código aquí" required value="<%= product.cual_descuento %>" />
              </div>
            </div>
            <div class="no">
              <label for="no">No</label>
              <input type="radio" id="no" name="descuento" value="no" <% if (product.descuento === 'no') { %>checked<% } %> />
            </div>
          </div>
        </div>
      </div>
      
        <div class="botones">
          <button class="boton-borrar" type="delete">Borrar producto</button>
          <button class="boton-enviar" type="submit">Guardar cambios</button>
        </div>
      </form>
    </main>
    <footer><%- include("../partials/footer") %></footer>
  </body>
</html>
